<a href="https://colab.research.google.com/github/soogyo-park/Python-b-42115007/blob/main/%EA%B8%B0%EB%A7%90%EA%B3%BC%EC%A0%9C_42115007%EB%B0%95%EC%88%98%EA%B5%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python3 샘플 코드 #


import requests

url = 'http://apis.data.go.kr/B552584/OzYlwsndOccrrncInforInqireSvc/getOzAdvsryOccrrncInfo'
para ={'serviceKey' : 'CwHjDBkvbUuWT12u9+lJYV4KNd6sd99rJeSpBPh+NNBn3fE1Deaz641+aYRhFBfZbo6j8YAggG7U4tc06djfGw==', 'returnType' : 'json', 'numOfRows' : '100', 'pageNo' : '1', 'year' : '2013' }

res = requests.get(url, params=para)
print(res.content)

In [80]:
import json
json_file = json.loads(res.text)

In [81]:
import pandas as pd
from pandas import json_normalize

df = json_normalize(json_file['response']['body']['items'])
df

,clearVal,sn,maxVal,districtName,dataDate,issueVal,issueLvl,issueTime,moveName,clearTime
0,0.086,178,0.127,전남,2013-08-28,0.127,None,13,순천시,15
1,0.088,179,0.155,전남,2013-08-28,0.155,None,14,광양시,15
2,0.113,176,0.141,경남,2013-08-27,0.141,None,16,진주시,18
3,0.096,177,0.123,울산,2013-08-27,0.123,None,16,동구 전역,17
4,0.104,175,0.152,경남,2013-08-27,0.132,None,15,사천시,18
...,...,...,...,...,...,...,...,...,...,...
95,0.106,72,0.124,충남,2013-06-08,0.124,None,16,당진군,17
96,0.118,69,0.128,경기,2013-06-07,0.128,None,17,의정부·남양주권역,18
97,0.112,68,0.127,서울,2013-06-07,0.127,None,16,동북권,17
98,0.118,67,0.121,경남,2013-06-06,0.121,None,16,창원시 의창구·성산구,17
99,0.076,66,0.128,대구,2013-06-06,0.128,None,16,대구,18

In [84]:
df.to_excel("output.xlsx")
df.to_csv("output.csv")